body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(81, 135, 137);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

h1 {
    margin: 0;
}

.form-container, .notification-log, .container, .template-card, .template-list {
    background: white;
    padding: 1.25em;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.9375em rgba(0, 0, 0, 0.1);
    width: calc(100% - 2.5em);
    margin: 1.25em;
    max-width: 75em;
    box-sizing: border-box;
}

.form-container h2, .notification-log h2, .template-card h2, .template-list h2 {
    margin-top: 0;
}

.notification-log, .container {
    margin-top: 2.5em;
}

label {
    display: block;
    margin: 15px 0 10px;
    font-size: 1.1em;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1em;
    box-sizing: border-box;
}

.template-list {
    padding: 20px;
    margin-top: 2.5em;
}

button {
    background-color: rgb(81, 135, 137);
    color: white;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: rgb(74, 120, 130);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.625em;
    box-sizing: border-box;
}

th, td {
    padding: 0.9375em;
    text-align: left;
    border-bottom: 0.0625em solid #ddd;
    font-size: 1.1em;
}

th {
    background-color: #f2f2f2;
}

.confirmation-message {
    color: green;
    font-size: 1.2em;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 0.75em;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    margin-bottom: 0.9375em;
    font-size: 1em;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 0.9375em 0 0.625em;
    font-size: 1.1em;
}

#dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25em;
}

#one, #two {
    flex: 1;
    margin-right: 1em;
}

#two {
    margin-right: 0;
}

#date {
    width: 100%;
}

#Reset {
    margin-left: 10px;
}

.message-preview {
    position: relative;
    cursor: pointer;
}

.message-preview::after {
    content: "Click to expand";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.message-preview:hover::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 600ms;
}

/* Nav bar css */
.nav-buttons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(81, 135, 137);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

footer {
    padding: 20px;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.expanded-row {
    display: none;
}

#historyBody {
    vertical-align: top;
}